{% block body %}
	
	
	 {% set query = "SELECT content from template_blank JOIN section_list USING(sid) WHERE class_id = '%s'" % class_id %} 

	 {% set data = execute_query(query) %}
	
	 <div class="section-content"> {{ data[0]["content"] | safe }} </div>

{% endblock %}
