{% block body %}

	<header class="header-wrapper">
		<div class="nav-wrapper">
			<nav class="main-navigation">
				<ul>
					<li class="nav-item main-nav-item"><a href="#welcome">welcome</a></li>
					<li class="nav-item main-nav-item"><a href="#portfolio">portfolio</a></li>
					<li class="nav-item main-nav-item"><a href="#testimonials">testimonials</a></li>
					<li class="nav-item main-nav-item"><a href="#connect">connect</a></li>
				</ul>
			</nav>
		</div>
		<!-- .nav-wrapper -->
	</header>

{% endblock %}