{% block body %}

	<header class="header-wrapper">
		<div class="nav-wrapper">
			<nav class="main-navigation">
				<ul>
					<li class="nav-item nav-item-welcome main-nav"><a href="#welcome">welcome</a></li>
					<li class="nav-item nav-item-portfolio main-nav"><a href="#portfolio">portfolio</a></li>
					<li class="nav-item nav-item-testimonials main-nav"><a href="#testimonials">testimonials</a></li>
					<li class="nav-item nav-item-connect main-nav"><a href="#connect">connect</a></li>
					<li class="nav-item nav-item-test main-nav"><a href="#test">test</a></li>
				</ul>
			</nav>
		</div>
		<!-- .nav-wrapper -->
	</header>

{% endblock %}