{% block body %}
	<p class="db-quick-text">Click on any section to expand it, and manage its contents. To collapse a section, click on the title bar again.</p>
	<div class="row">
		<div class="column-12">
			<div class="column-6">
				<p class="db-quick-title">Overview</p>
				{% set sections = execute_query("SELECT title, description, position, type, class_id FROM section_list JOIN section_type USING (tid) ORDER BY position") %}
				{% set numb_of_sections = sections | length %}
				<p class="db-quick-subtitle">Your sections</p>
					{% for i in range(0, numb_of_sections) %}
							<div class="db-quick-row">
								<div class="db-section-item">
									<div class="db-section-item-wrapper">
										<div class="db-section-content-expand">
											<p class="db-section-item-title">Section {{ sections[i]["title"] }}</p>
											<p class="db-section-item-description">{{ sections[i]["description"] }}</p>
										</div>
										<div class="db-section-content-hide">
											<p class="db-section-item-title">Section {{ sections[i]["title"] }}</p>
										</div>
										<div class="db-section-item-content">
											{% if sections[i]["type"] == 'portfolio' %}
												{% include "_portfolio_form.html.j2" %}
											{% else %}
												{% include "_blank_form.html.j2" %}
											{% endif %}
										</div>
									</div>
								</div>
							</div>
					{% endfor %}
			</div>
			<div class="column-6">
				<p class="db-quick-title">User Actions</p>
				<p class="db-quick-subtitle">Add New</p>
				<div class="db-quick-row">
					<div class="db-section-item">
						<div class="db-section-item-wrapper">
							<p class="db-section-item-title db-section-content-expand">+ New Section</p>
							<p class="db-section-content-hide">Add New Section</p>
							<div class="db-section-item-content">
								{% include "_new_section.html.j2" %}
							</div>
						</div>
					</div>
                </div>
                {% set portfolio_sections = execute_query("SELECT COUNT(*) as number FROM section_type JOIN section_list USING (tid) WHERE type = 'portfolio' ")[0]["number"] %}
                {% if (portfolio_sections | int) > 0 %}
                    <div class="db-quick-row">
                        <div class="db-section-item">
                            <div class="db-section-item-wrapper">
                                <p class="db-section-item-title db-section-content-expand">+ Portfolio Category</p>
                                <p class="db-section-content-hide">New Portfolio Caregory</p>
                                <div class="db-section-item-content">
                                    {% include "_new_portfolio_category.html.j2" %}
                                </div>
                            </div>
                        </div>
                    </div>
                {% endif %}
			</div>
		</div>				
	</div>
{% endblock %}