{% block body %}
	<form class="category-section-add-form">
		<div class="db-quick-row">
			<div class="form-group">
				<p class="db-quick-inner-text">Category Name</p>
				<input type="text" name="section-add-title" value="" class="section-add-input">
			</div>
			<div class="align-right">
				<button type="submit" class="save-btn" id="section-add-submit">Add</button>
			</div>
		</div>
	</form>
{% endblock %}