{% block body %}
    <form class="portfolio-category-add-form">
        <div class="db-quick-row">
            <div class="form-group">
                <p class="db-quick-inner-text">Category Name</p>
                <input type="text" name="portfolio-category-add-name" value="" class="portfolio-category-add-input">
            </div>
            <div class="align-right">
                <button type="submit" class="save-btn" id="portfolio-category-add-submit">Add</button>
            </div>
        </div>
    </form>
{% endblock %}