<div class="db-portfolio-item-meta-columns">
<div class="row">
	<div class="column-12">
			<div class="column-3">Num</div>
			<div class="column-3">Name</div>
			<div class="column-3">Category</div>
			<div class="column-3">Actions</div>
		</div>
	</div>
</div>
<div class="db-portfolio-items">
	<div class="db-portfolio-item-meta">
		<div class="row">
			<div class="column-12">
				<div class="column-3"><p class="db-portfolio-item-text">1</p></div>
				<div class="column-3"><p class="db-portfolio-item-text">Item 1</p></div>
				<div class="column-3"><p class="db-portfolio-item-text">Category 1</p></div>
				<div class="column-3">
					<p class="db-portfolio-item-actions">
						<span class="db-portfolio-item-edit" data-mod="db-portfolio-item-1">Edit</span><span class="db-portfolio-item-delete">Delete</span>
					</p>
				</div>
			</div>
		</div>
	</div>
	<div class="db-portfolio-item-meta">
		<div class="row">
			<div class="column-12">
				<div class="column-3">2</div>
				<div class="column-3"><p class="db-portfolio-item-text">Item 2</p></div>
				<div class="column-3"><p class="db-portfolio-item-text">Category 2</p></div>
				<div class="column-3">
					<p class="db-portfolio-item-actions">
						<span class="db-portfolio-item-edit" data-mod="db-portfolio-item-2">Edit</span><span class="db-portfolio-item-delete">Delete</span>
					</p>
				</div>
			</div>
		</div>
	</div>
</div>
