{% block body %}
	{% set categories = execute_query("SELECT cid, category from template_portfolio_categories") %}
	{% set class_id = sections[i]["class_id"] %}
	<div class="db-quick-row">
		<div class="portfolio-item-modal-overlay">
			<div class="modal-wrapper">
				<span class="icon icon-cancel-circle db-close-portfolio-item-modal item-toggle-modal inverse-icon"></span>
				<div class="modal-content">
					<div class="add-new-item-form">
						{% include '_portfolio_add_edit_form.html.j2' %}
					</div>
					<div class="db-portfolio-item db-portfolio-item-1">
						Item 2
					</div>
					<div class="db-portfolio-item db-portfolio-item-2">
						Item 2
					</div>	
				</div>	
			</div>
		</div>
	</div>
{% endblock %}