{% block body %}
	{% set categories = execute_query("SELECT cid, category from template_portfolio_categories") %}
	{% set projects = execute_query("SELECT pid, tpid, title, description, modal_content, logo, technologies, link, link_icon, category FROM template_portfolio_projects JOIN template_portfolio_categories USING(cid)") %}
	{% set class_id = sections[i]["class_id"] %}
	<div class="db-quick-row">
		<div class="portfolio-item-modal-overlay">
			<div class="modal-wrapper">
				<span class="icon icon-cancel-circle db-close-portfolio-item-modal item-toggle-modal inverse-icon"></span>
				<div class="modal-content">
					
					{% set count = [1] %}
					{% for ind in range(0, projects | length) %}
						<div class="db-portfolio-item db-portfolio-item-{{ count[0] }}">
							{% set pid = projects[ind]["pid"] %}
							{% set pid = "project-" + (pid | string) %}
							{% include '_portfolio_add_edit_form.html.j2' %}
						</div>
						{% if count.append(count.pop() + 1) %}{% endif %}
					{% endfor %}

					<div class="add-new-item-form">
						{% set ind = -1 %}
						{% set pid = "add-" + class_id %}
						{% include '_portfolio_add_edit_form.html.j2' %} 
					</div>

				</div>
			</div>
		</div>
	</div>
{% endblock %}