{% set active_webpage = "Dashboard" %}
{% extends "header.html.j2" %}

{% block body %}
	{% set home_url = url_for("homepage") %}
	{% set logout_url = url_for("logout") %}
	{% set section_names = ['Overview', 'Settings', 'Sections'] %}
	{% set section_description = ['Stats, updates and news', 'General information about the user', 'Sections management and overview'] %}
	{% set cms_meta = 'Point CMS v0.0.1' %}
	{% set website_name = website_info["website_name"] %}
	{% set greeting = ['Hello', 'Howdy', 'Hi there', 'Hola', 'Zdravo', 'Živjo', 'Bonjour', 'Namaste', 'Guten tag', 'Ola', 'Ciao'] %}
	<div class="row">
		<div class="column-12">
			<div class="dashboard-header display-table">
				<div class="row display-table-cell">
					<div class="column-2">
						<div class="website-meta">
							<p class="website-name"><a href="{{ home_url }}">{{ website_name }}</a></p>
						</div>
					</div>
					<div class="column-8">
						<div class="dashboard-nav-wrapper">
							<nav class="dashboard-nav">
								<ul>
									{% for i in range(3) %}
									<li class="dashboard-nav-item">{{ section_names[i] }}</li>
									{% endfor %}
								</ul>
							</nav>
						</div>
					</div>
					<div class="column-2">
						<div class="user-meta">
							{% set rand_greet = range(greeting | length ) | random %}
							<div class="welcome-user">{{ greeting[rand_greet] }}, 
								<span class="username">{{ session["username"].title() }}</span>!
								<div class="user-nav-wrapper">
									<nav class="user-nav">
										<ul>
											<li><a href="{{ home_url }}">Visit website</a></li>
											<li><a href="{{ logout_url }}">Logout</a></li>
										</ul>
									</nav>
								</div>
							</div>
						</div>
					</div>	
				</div>	
			</div>
			<div class="dashboard-content">
				<div class="row">
					<div class="column-12">
						<div class="section-wrapper">
							{% for i in range(3) %}
								<section id="section-settings" class="dashboard-section dashboard-section-settings">
									<div class="db-section-meta">
										<p class="db-section-title">{{ section_names[i] }}</p>
										<p class="db-section-description">{{ section_description[i] }}</p>
									</div>
									<div class="db-section-content">
										{% if (section_names[i] == 'Overview'): %}
											{% include "_dashboard_overview.html.j2" %}
										{% endif %}
										{% if (section_names[i] == 'Settings'): %}
											{% include "_dashboard_settings.html.j2" %}
										{% endif %}
										{% if (section_names[i] == 'Sections'): %}
											{% include "_dashboard_sections.html.j2" %}
										{% endif %}
									</div>
								</section>
							{% endfor %}
						</div>
					</div>
				</div>
				<div class="clearfix"></div>
				<div class="cms-meta">
					<span class="cms-version">{{ cms_meta }}</span>
				</div>
			</div>
		</div>
	</div>	
	{{ close() }}
{% endblock %}	