{% set active_webpage = "login" %}
{% set active_theme = "point-theme" %}
{% extends "template-loaders/master-header.html.j2" %}

{% block body %}
	
	<div class="row">
		<div class="column-12">
			<div class="login-wrapper display-table">
				<div class="login-form display-table-cell">
					<div class="back-home">Back to <a href="http://localhost:5000">homepage</a>.</div>
					<h1 class="login-logo"><img src="/static/uploads/logos/point-blue.svg" alt="PointCMS Official Logo"></h1>
					<h4 class="login-description">Welcome to the login page</h4>
					<div class="login-status-wrapper">
						<div class="login-status">
							{% with messages = get_flashed_messages() %} {% if messages %} {% for message in messages %}
							<p>{{ message }}</p>
							{% endfor %} {% endif %} {% endwith %}
						</div>
					</div>	
					<form id="login" action="" method="POST">
						<div class="form-group">
							<input type="text" name="username" class="login-user" placeholder="username/email" value={{ request.form.username }}>
						</div>
						<div class="form-group">
							<input type="password" name="password" class="login-pw" placeholder="password" value={{ request.form.password }}>
						</div>
				    	<button type="submit" class="login-btn">Login</button>
					</form>
					<div class="lost-pw">
						<span>Lost your password? Click <a href="#">here</a>.</span>
					</div>
				</div>	
			</div>
		</div>
	</div>

	{{ close() }}

{% endblock %}