{% extends "header.html" %}

{% block body %}
	
	<!-- Include navigation file -->
	{% include "sections/main_navigation.html" %}

	<!-- Loop thought all dictionaries -->
	{% for i in range(0, sections | length) %}
		<!-- Get attributes (dictionary) from rs (list) -->
		{% set attributes = sections[i] %}	

		<div class="row">
			<div class="column-12">

				<!-- First section will have class 'first' -->
				{% if i == 0 %}
					<section class="site-section first" id="{{ attributes["class_id"] }}">
				{% else %}
					<section class="site-section" id="{{ attributes["class_id"] }}">
				{% endif %}

					<div class="section-wrapper">

						<!-- Set path for section template -->
						{% set path = 'sections/' + attributes["type"] + ".html" %}

						{% set class_id = attributes["class_id"] %}

						<!-- Include template -->
						{% include path %} 

					</div>
				</section>

				<!-- If last item, do not generate separator (line) -->
				{% if i != sections | length - 1 %}
					<div class="separator"></div>		
				{% endif %}
				
			</div>
		</div>
	{% endfor %}

	{% include 'sections/footer.html' %}

	{{ close() }}

{% endblock %}