/*
 *
 * Main stylesheet file with a .scss extension. This file loads everything and compiles it to /css/style.css
 *
 *
 * TABLE OF CONTENTS
 * 1. Import
 * 2. Base styles
 * 3. Header
 * 4. Sections
 *
 *
*/

// Import
@import 'partials/grid';
@import 'partials/font';
@import 'partials/vars';
@import 'partials/mixins';

// Base styles
body { font-size: 16px; font-family: "Open Sans", sans-serif, helvetica; font-weight: 300; color: $primary_color; -webkit-text-size-adjust: none;
  text-align: center; }
.display-table { display: table;
  .display-table-cell { display: table-cell; width: 100%; height: 100%; vertical-align: middle; }
}

input {
  -webkit-appearance: none;
  outline: none;
  text-align: center;
  font-size: 0.8em;
  font-weight: 300;
  letter-spacing: 0.02em;
  line-height: 1.2em;
  padding-bottom: 7px;
}

textarea {
  -webkit-appearance: none;
  line-height: 1.2em;
  border: 1px solid #F2F2F2;
  overflow-y: auto;
  font-size: 0.9em;
  font-weight: 300;
}

::-webkit-input-placeholder { /* WebKit, Blink, Edge */
    color: #E5E5E5;
}
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
   color: #E5E5E5;
   opacity: 1;
}
::-moz-placeholder { /* Mozilla Firefox 19+ */
   color: #E5E5E5;
   opacity: 1;
}
:-ms-input-placeholder { /* Internet Explorer 10-11 */
   color: #E5E5E5;
}
::-ms-input-placeholder { /* Microsoft Edge */
   color: #E5E5E5;
}

textarea:focus, input:focus{
    outline: none;
}

*:focus {
    outline: none;
}

a:link, a:visited { text-decoration: none; }

.preload * {
  -webkit-transition: none !important;
  -moz-transition: none !important;
  -ms-transition: none !important;
  -o-transition: none !important;
}
.align-left { text-align: left; }
.align-center { text-align: center; }
.align-right { text-align: right; }
.no-scroll { overflow-y: hidden; }

.form-group {
  margin-bottom: 18px;

  input {
    border: 0;
    width: 225px;
    border-bottom: 1px solid $border_color;
    text-align: left;
    @include transition(border-color, 750ms);
  }
  input:focus { border-color: #3a85c2; }
} 

.login-btn, .save-btn { border: 1px solid $border_color; font-size: 0.8em; line-height: 1.5em; letter-spacing: 0.02em; background-color: #FFF; padding: 5px 15px; margin-top: 15px; font-weight: 300; cursor: pointer; 
    @include transition(border-color, 750ms);
    &:hover { border-color: #3a85c2; }
}

.item-toggle-modal { float: right; font-size: 1.2em; position: relative; top: 7px; right: 7px; color: #FFFFFF; cursor: pointer; }
.inverse-icon { color: #404040; }
// Header
.sidebar-toggle { font-size: 1.5em; color: $primary_color; padding-left: 8px; padding-top: 6px; float: left; cursor: pointer; }
.header-wrapper { position: fixed; top: 0; left: 0; width: 100%; z-index: 3; display: none; overflow: hidden;  -webkit-transition: height 0.3s; -moz-transition: height 0.3s; transition: height 0.3s; border-bottom: 1px solid $border_color; padding: 15px 10px; background: rgba(255, 255, 255, 0.99); }
.nav-wrapper { text-align: center; font-size: 0.9em;
	ul { margin: 0; padding: 0;
		li { list-style-type: none; display: inline-block; margin-right: 5px;
			a { text-decoration: none; color: $primary_color; cursor: pointer; }
			&.current-nav-item {
				&::after { content: ""; position: relative; top: 5px; left: 0; display: block; height: 1px; width: 70%; margin-left: 15%; background-color: $nav_current_color; }
			}
		}
	}
}

// Sections
.separator { height: 1.2px; background-color: $border_color; -ms-transform: rotate(-12deg); -webkit-transform: rotate(-12deg); transform: rotate(-12deg); margin-top: 80px; }
[class*='site-section'] { padding: 180px 0; }
.section-wrapper {
	.section-title { font-size: 1.8em; font-weight: 300; margin-bottom: 5px; }
    .section-description { font-size: 0.8em; font-weight: 300; margin-bottom: 25px; }
	.section-content {}
}
#portfolio {
  .section-description { margin-bottom: 20px; }
  .portfolio-nav { margin-bottom: 20px;
    li { cursor: pointer; }
  }
  [class*='portfolio-section'] { display: none;
    .portfolio-item { max-width: 100%; margin: 10px auto; background-color: #FFFFFF; border: 1px solid $border_color; border-radius: 3px; }
  }
  .item-content { position: relative; width: 355px; height: 230px; }
  .item-preview { display: none; position: absolute; top: 0; left: 0; bottom: 0; right: 0; background-color: #404040; color: #FFFFFF;
    .preview-content { padding-top: 25px;
      .item-title { font-size: 1.2em; margin-bottom: 5px; }
      .item-description { font-size: 0.8em; margin-bottom: 15px; letter-spacing: 0.002em; line-height: 1.2em; }
      .item-tech-stack {
        margin-bottom: 15px;
        .tech-stack-title { margin-bottom: 15px; }
        .tech-stack-title-text { font-size: 0.9em; position: relative; top: -5px; left: 5px; }
        .icon-stack { font-size: 1.5em; }
        .tech-stack-icon { padding: 4px 12px; margin-right: 5px; font-size: 0.7em; letter-spacing: 0.002em; border-radius: 3px; background: rgba(40, 40, 40, 0.8); color: #FFF;}
      }
    }
    .link-github { font-size: 2em;
      a { color: #FFFFFF; text-decoration: none; }
    }
  }

  .item-preview-modal { position: fixed; top: 0; right: 0; bottom: 0; left: 0; display: none; z-index: 999; background: #404040; overflow-x: hidden; overflow-y: scroll;
    .item-toggle-modal { display: block; }
    .modal-wrapper { width: 95%; margin: 5% auto; background-color: #FFFFFF; @include transform(translateY(100%)); @include transition(transform, 500ms);
      &.open { @include transform(translateY(0px)); }
      h1, h2, h3 { font-weight: 300; margin: 20px 0; }
      .modal-header {
        .project-title { padding-top: 30px; }
      }
      .modal-content { padding: 10px 30px 30px 30px; margin-bottom: 20px;
        a { text-decoration: none; }
      }
      .modal-footer {
        padding: 20px;
        .icon-github { font-size: 2em; }
        a { text-decoration: none; }
      }
    }
  }
}
#connect {
  ul { margin: 0; padding: 0;
    li { list-style-type: none; display: inline-block; margin-right: 5px;
      a { color: #404040; text-decoration: none; font-size: 0.8em; }
    }
  }
}
.footer-wrapper { color: #999999; font-size: 0.8em; padding: 30px; opacity: 0.7; @include transition(opacity, 400ms);
  p { margin-bottom: 5px; }
  &:hover { opacity: 1; }
  .icon-heart-footer { opacity: 0.7; @include transition(all, 800ms);
    &:hover { color: #db1111; opacity: 1; }
  }
}

// Login page
.alternate-bg { background-color: #EEE; }
.login-wrapper {
  margin: 120px auto;
  background: #FFF;
  -webkit-box-shadow: 0.5px 0.5px 10px 0px rgba(218,218,218,1);
  -moz-box-shadow: 0.5px 0.5px 10px 0px rgba(218,218,218,1);
  box-shadow: 0.5px 0.5px 10px 0px rgba(218,218,218,1);
  color: #707070;

  .login-form { 
    padding: 80px 80px 40px 80px;

    .login-text { font-size: 2em; font-weight: 300; margin-bottom: 5px; }
    .login-description { font-size: 0.9em; font-weight: 300; margin-bottom: 55px; }
    .lost-pw { padding-top: 40px; font-size: 0.7em; color: #909090; }
    .login-status-wrapper { margin: 20px 0; height: 50px; }
    .login-status { font-size: 0.8em; padding: 5px; color: #db3939; border: 1px solid; display: none; }
  }
  .back-home { font-size: 0.7em; color: #909090; position: relative; top: -65px; left: -65px; text-align: left;  }
}

// Dashboard
.dashboard-header {
  background-color: #404040;
  padding: 0 30px;
  color: #FFF;
  height: 60px;
  text-align: left;
  width: 100%;

  .dashboard-nav-wrapper {
    .dashboard-nav {
      ul {
        cursor: pointer;
        .dashboard-nav-item { 
          list-style-type: none; display: inline-block; border: 1px solid #404040; margin-right: 5px; padding: 5px 10px; font-size: 0.8em;
          &.current-nav-item, &:hover {
            &::after { content: ""; position: relative; top: 5px; left: 0; display: block; height: 1px; width: 70%; margin-left: 15%; background-color: $nav_current_color; }
          } 
        }
      }
    }
  }

  .user-meta {
    text-align: right;
    position: relative;

    .welcome-user { padding-top: 6px; font-size: 0.9em;
      .username { text-decoration: underline; cursor: pointer; }
      .user-nav-wrapper { display: none; position: absolute; top: 30px; right: 0; width: 150px; background-color: #333333; z-index: 999;
        .user-nav { 
          text-align: left; 
          -webkit-box-shadow: 0.5px 0.5px 5px 0px #404040;
          -moz-box-shadow: 0.5px 0.5px 5px 0px #404040;
          box-shadow: 0.5px 0.5px 5px 0px #404040;
          ul { margin: 0; padding: 0; 
            li { list-style-type: none;
              a { display: block; color: #FFF; padding: 10px; font-size: 0.9em; @include transition(background-color, 450ms);
                &:hover {
                  background: #222222;
                }
              }
            }
          }
        } 
        
        &.nav-open {
          display: block;
        }
      }
    }
  }
}

  .website-meta { 
    .website-name { font-weight: 400; padding-top: 5px; }
    a { color: #FFF; }
  }

.dashboard-content {  
  padding: 30px;
  margin-bottom: 50px;
  min-height: 1000px;
  background-color: #FFF;
  text-align: left;
  position: relative;

  .cms-meta {
    position: absolute;
    bottom: 5px;
    right: 10px;
    .cms-version { font-size: 0.8em; font-style: italic; color: #999; }
  }

  .db-section-meta {
    margin-bottom: 20px;
    .db-section-title { font-size: 1.4em; font-weight: 400; }
    .db-section-description { font-size: 0.8em; font-style: italic; }
  }
  .db-quick-title { font-size: 1.2em; font-weight: 400; margin-bottom: 30px; }
  .db-quick-subtitle { font-size: 1.1em; margin: 20px 0; }
  .db-quick-row { margin: 10px 0; }
  .db-quick-item { margin-top: 20px; }
  .db-quick-text { margin: 10px 0; }
  .db-quick-inner-text { font-size: 0.9em; margin-bottom: 10px; }
  .db-quick-select { width: 90px; }
  .db-section-item { border: 1px solid #F2F2F2; width: 90%; border-radius: 3px; border-top-left-radius: 5px; border-top-right-radius: 5px; overflow: hidden; }
  .db-section-item-wrapper { background-color: #EEE; @include transition(background-color, 450ms);
    &:hover { background-color: #F2F2F2; }
  }
  .db-section-content-expand, .db-section-content-hide { padding: 10px; cursor: pointer; font-size: 0.9em; }
  .db-section-content-hide { display: none; width: 48%; text-align: right; font-size: 0.8em; }
  .db-section-content-expand { display: inline-block; width: 50%; }
  .db-section-item-content { padding: 10px; background-color: #FFF; display: none; }
  .portfolio-item-modal-overlay { position: fixed; top: 0; right: 0; bottom: 0; left: 0; display: none; z-index: 999; background: #404040; overflow-x: hidden; overflow-y: scroll; 
    .modal-wrapper { max-width: 65%; margin: 5% auto; background-color: #FFFFFF; @include transform(translateY(100%)); @include transition(transform, 500ms); 
      &.open { @include transform(translateY(0px)); }
      .modal-content { padding: 30px; }
      textarea { max-width: 80%; }
      [class*='db-portfolio-item'] { display: none; }
    }
  }
  .db-new-portfolio-item-wrapper { width: 100%; }
  .db-portfolio-item-meta-columns { font-size: 0.9em; border: 1px solid #F2F2F2; padding: 12px 5px 10px 5px;  border-top-left-radius: 5px; border-top-right-radius: 5px; }
  .db-portfolio-item-meta { padding: 12px 5px 10px 5px; border: 1px solid #F2F2F2; border-top: 0; }
  .db-portfolio-item-text { font-size: 0.9em; }
  .db-portfolio-item-actions { font-size: 0.8em; }
  .db-portfolio-item-edit, .db-portfolio-item-delete { font-size: 0.8em; padding: 2px 5px; border: 1px solid #3a85c2; color: #3a85c2; margin-right: 5px; cursor: pointer; @include transition(all, 450ms); }
  .db-portfolio-item-edit { &:hover { background-color: #3a85c2; color: #FFF; } }
  .db-portfolio-item-delete { border-color: #dd2020; margin: 0; color: #dd2020; &:hover { background-color: #dd2020; color: #FFF; } }
  .add-portfolio-item { padding: 2px 5px; border: 1px solid #2cc436; font-size: 0.8em; @include transition(all, 450ms); cursor: pointer; &:hover { background-color: #2cc436; color: #FFF; } }

  input { font-size: 0.9em; }
  textarea { @include transition(border-color, 750ms);  width: 100%; height: 125px; }
  textarea:focus { border-color: #3a85c2; }
  .align-right { text-align: right; margin-right: 5%; }
}

[class*='dashboard-section'] { margin-top: -6px; display: none; }

// Media queries
@media only screen and (min-width: 85em) {}