{% block body %}
    
    {#
    {% set info = execute_query("SELECT title, description FROM template_portfolio JOIN section_list USING(sid) WHERE class_id = '%s'" % class_id) %}

    <h1 class="section-title">{{ info[0]["title"] }}</h1>
    <h4 class="section-description">{{ info[0]["description"] }}</h4>
    #}
    <div class="nav-wrapper portfolio-nav ">
        <nav>
            {% set categories = execute_query("SELECT category FROM template_portfolio_categories ORDER BY position") %}
            <ul>
                {% for i in range (0, categories | length) %}
                    <li class="nav-item portfolio-nav-item">{{ categories[i]["category"] }}</li>
                {% endfor %}
            </ul>
        </nav>
    </div>

    <div class="item-preview-modal">
        <div class="modal-wrapper">
            <span class="icon icon-cancel-circle item-toggle-modal inverse-icon"></span>

            {% set query =  "SELECT tpc.category, tpp.title, tpp.description, tpp.logo, tpp.modal_content, tpp.technologies, tpp.link, tpp.link_icon FROM template_portfolio JOIN section_list sl USING (sid) JOIN template_portfolio_projects tpp USING(tpid) JOIN template_portfolio_categories tpc USING (cid) WHERE class_id = '%s' ORDER BY tpc.position" % class_id %}

            {% set data = execute_query(query) %} 

            {% for i in range(0, data | length) %}
                {% set temp = i + 1 %}
                <div class="portfolio-item-{{ temp }}">
                    <div class="modal-header">
                        <h1 class="project-title">{{ data[i]["title"] }}</h1>
                    </div>
                    <div class="modal-content align-left">
                        {{ data[i]["modal_content"] | safe }}
                    </div>
                    <div class="modal-footer">
                        <div class="link-{{ data[i]['link_icon'] }} align-center"><a href="{{ data[i]['link'] }}" target="_blank"><span class="icon icon-{{ data[i]['link_icon'] }} inverse-icon"></span></a></div>
                    </div>
                    
                </div>
                
            {% endfor %}
        </div>
    </div>

    <div class="section-content">
        {% set project_numb = [1] %}
        {% for i in range(0, categories | length) %}
            <div class="portfolio-section" data-numitems="">
                {% for j in range(project_numb[0] - 1, data | length) %}
                    {% if categories[i]["category"] != data[j]["category"] %}
                        {% break %}
                    {% endif %}
                    <div class="column-4">
                        <div class="portfolio-item display-table">
                            <div class="item-content display-table-cell">
                                {# <div class="item-title">{{ data[j]["title"] }}</div> #}

                                {% set logo = data[j]["logo"] %}
                
                                {% if logo is defined %}
                                    {% set logo_path = "uploads/logos/" + logo %}
                                    <div class="item-logo"><img src="{{ url_for('static', filename=logo_path) }}"/></div>
                                {% endif %}

                                <div class="item-preview">
                                    <span class="icon icon-circle-up item-toggle-modal" data-mod="portfolio-item-{{ project_numb[0] }}"></span>
                                    <div class="preview-content">
                                        <div class="item-title">{{ data[j]["title"] }}</div>
                                        <div class="item-description">{{ data[j]["description"] }}</div>
                                        <div class="item-tech-stack">
                                            <div class="tech-stack-title">
                                                <span class="icon icon-stack"></span><span class="tech-stack-title-text">Tech Stack</span>
                                            </div>

                                            {% for lang in data[j]["technologies"].split(";") %}
                                                <span class="devicon devicon-font devicon-{{ lang }}-plain colored"></span>
                                            {% endfor %}

                                        </div>
                                        <div class="link-{{ data[j]['link_icon'] }}"><a href="{{ data[j]['link'] }}" target="_blank">   <span class="icon icon-{{ data[j]['link_icon'] }}"></span></a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    {% if project_numb.append(project_numb.pop() + 1) %}{% endif %}

                {% endfor %}
               <div class="clearfix"></div>
            </div>
        {% endfor %}

    </div>

{% endblock %}
